// Copyright (C)2024
// Tang Primer 20K HDMI Constraints

// Clock
IO_LOC "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// HDMI / TMDS
// Data 2 (Red)
IO_LOC "tmds_data_p[2]" K14,K15;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE DRIVE=3.5;

// Data 1 (Green)
IO_LOC "tmds_data_p[1]" J15,K16;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE DRIVE=3.5;

// Data 0 (Blue)
IO_LOC "tmds_data_p[0]" H14,H16;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE DRIVE=3.5;

// Clock
IO_LOC "tmds_clk_p" G16,H15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;

// LEDs (for status)
IO_LOC "led[0]" L16;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" L14;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" N14;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" N16;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
