// Clock and Reset
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "reset" T10;
// IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LEDs
IO_LOC "leds_n[0]" L16;
IO_PORT "leds_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds_n[1]" N16;
IO_PORT "leds_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// UART
IO_LOC "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "uart_rx" T13;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SD card
// IO_LOC "sd_clk" N10;
// IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "sd_cmd" R14;
// IO_PORT "sd_cmd" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "sd_dat[0]" N15;
// IO_PORT "sd_dat[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "sd_dat[1]" M7;
// IO_PORT "sd_dat[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "sd_dat[2]" M10;
// IO_PORT "sd_dat[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC "sd_dat[3]" N11;
// IO_PORT "sd_dat[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SPI to uC (Placeholder)
// IO_LOC "m0s[0]"
// IO_LOC "m0s[1]"
// IO_LOC "m0s[2]"
// IO_LOC "m0s[3]"
// IO_LOC "m0s[4]"

// HDMI
IO_LOC "tmds_clk_p" G16,H15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;

IO_LOC "tmds_d_p[0]" H14,H16;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=3.5;

IO_LOC "tmds_d_p[1]" J15,K16;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=3.5;

IO_LOC "tmds_d_p[2]" K14,K15;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=3.5;

// DDR pins are handled by the controller, do not set them manually.

// Fix location of PLL as it impacts write/read leveling timing
INS_LOC "pll_inst/rpll_inst" PLL_L[0];
